*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    font-family: sans-serif;
}

.header {
    background-color: pink;
    text-align: center;
    padding: 50px 0;
    font-size: 40px;
}

.content{
    display: flex;
}

.navbar{
    text-align: center;
    background-color: #e6aeee;
    width: 30%;
}

.articlebar{
    text-align: center;
    width: 70%;
}

h1{
    color: pink;
}